<header class="headerMain">Flog.
    <p>Daily Workouts</p>
</header>

{{#each workouts as |workout| }}
<div class="container">
        <div class="cardMain" style="width: 20rem;">
            <div class="card-header" style="width:22rem;">
                <div class="card-body">
                    <div class="container float-child mb-4 workout">
                        <div class="col-md-5">
                            <h2>
  
     
                                <a href="/workout/{{workout.id}}">{{workout.name}}</a>
                             </h2>
                             <div class="col-md-7">
                                 <p>
                                    {{workout.description}}
                                 </p>
                             </div>
                                 <p>Created by {{workout.user.name}} on {{format_date workout.date_created}}</p>
                             </div>
 
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{!-- <script src="./js/login.js"></script>



{{#each workouts as |workout| }}
<div class="container float-child mb-4 workout">
  <div class="col-md-5">
    <h2>
  
     
      <a href="/workout/{{workout.id}}">{{workout.name}}</a>
    </h2>
     <div class="col-md-7">
    <p>
      {{workout.description}}
    </p>
  </div>
    <p>Created by {{workout.user.name}} on {{format_date workout.date_created}}</p>
  </div>
 
</div>
{{/each}} --}}
