<div class="text-center">



  <h2 id="userWorkout"> {{name}}'s Reviews</h2>

  {{#each workout as |workout|}}

  <p id="workouts" class="workout-name">{{workout.workout.name}}: {{workout.name}}</p>
  <p id="workouts">{{workout.workout.comment}} ({{format_date workout.workout.date_created}})</p>
  <p id="workouts"></p>
  {{/each}}
  

</div>

</div>
  <p>
    <a href="/"><button class="btn btn-primary">Post a new workout!</button></a>
  </p>
</div>